# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [94]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
#!jupyter nbextension enable --py gmaps

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [95]:
weather_data = pd.read_csv('WeatherPy.csv')
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kakonko,-3.28,30.96,68.79,52,25,2.86,TZ,1598736704
1,Leningradskiy,69.38,178.42,36.84,88,100,10.13,RU,1598736705
2,Presidencia Roque Sáenz Peña,-26.79,-60.44,83.91,45,97,11.30,AR,1598736705
3,Rikitea,-23.12,-134.97,70.03,68,58,6.98,PF,1598736705
4,Camacha,33.08,-16.33,71.60,64,40,12.75,PT,1598736706

In [96]:
weather_data.rename(columns = {'Lat':'Latitude', 'Lng': 'Longitude'}, inplace = True)

In [97]:
weather_data.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kakonko,-3.28,30.96,68.79,52,25,2.86,TZ,1598736704
1,Leningradskiy,69.38,178.42,36.84,88,100,10.13,RU,1598736705
2,Presidencia Roque Sáenz Peña,-26.79,-60.44,83.91,45,97,11.30,AR,1598736705
3,Rikitea,-23.12,-134.97,70.03,68,58,6.98,PF,1598736705
4,Camacha,33.08,-16.33,71.60,64,40,12.75,PT,1598736706

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [113]:
gmaps.configure(api_key=g_key)

In [114]:

locations = weather_data[["Latitude", "Longitude"]]
humidity = weather_data["Humidity"]
fig = gmaps.figure()

In [115]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)

In [116]:
fig.add_layer(heat_layer)
fig
fig.savefig("map_export.png", dpi=300)

AttributeError: 'Figure' object has no attribute 'savefig'

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [117]:
cond_weather_data = weather_data.loc[(weather_data["Max Temp"]>=75) & (weather_data["Max Temp"]<=80) & (weather_data["Humidity"]<50) & (weather_data["Wind Speed"]<10)]
cond_weather_data.dropna()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
299,Portland,45.52,-122.68,78.01,40,40,9.17,US,1598736517
300,Beitbridge,-22.22,30.00,79.56,24,82,0.74,ZW,1598736793
311,Pandamatenga,-18.53,25.63,75.43,35,85,0.85,BW,1598736797
381,Manbij,36.53,37.95,78.80,36,0,6.87,SY,1598736816
407,Siirt,37.93,41.94,77.11,20,0,3.89,TR,1598736825
456,Chanthaburi,12.83,102.17,79.00,10,30,1.92,TH,1598736840
556,Scalea,39.81,15.80,79.00,34,0,3.60,IT,1598736869

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [118]:
hotel_df = cond_weather_data
hotel_df['Hotel Name'] = ""
hotel_df.head()

<ipython-input-118-e5c9df9936d8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ""

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
299,Portland,45.52,-122.68,78.01,40,40,9.17,US,1598736517,
300,Beitbridge,-22.22,30.00,79.56,24,82,0.74,ZW,1598736793,
311,Pandamatenga,-18.53,25.63,75.43,35,85,0.85,BW,1598736797,
381,Manbij,36.53,37.95,78.80,36,0,6.87,SY,1598736816,
407,Siirt,37.93,41.94,77.11,20,0,3.89,TR,1598736825,

In [119]:
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
  
    target_type = "hotel"
    radius = 5000
    
    params["location"] = f"{lat},{lng}"
                             
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
hotel_name = requests.get(base_url, params=params)

    
try:
    hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
except (KeyError, IndexError):
    hotel_df.loc[index, 'Hotel Name'] = "NaN"
hotel_df

TypeError: 'Response' object is not subscriptable

In [84]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [105]:
# Add marker layer ontop of heat map
#https://jupyter-gmaps.readthedocs.io/en/v0.3.4/gmaps.html
# Create a map using state centroid coordinates to set markers
marker_locations = hotel_df[['Hotel Name']]

# Create a marker_layer using the poverty list to fill the info box <-- census assignment
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    hotel_df=[f"Hotel Name: {hotel_df.loc[index,'Hotel Name']}" for index,row in hotel_df.iterrows])
fig.add_layer(markers)
# Display figure
fig

TypeError: 'method' object is not iterable